<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dwdwproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_worker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_worker"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.WorkerReportDetailActivity"></activity>
        <activity android:name=".activities.UserAssginDetailActivity" />
        <activity android:name=".activities.NotifyMessageActivity" />
        <activity android:name=".activities.ManagerUserRecordivity" />
        <activity android:name=".activities.ShiftFilterChooseLocationActivity" />
        <activity android:name=".activities.ManagerUpdateShiftActivity" />
        <activity android:name=".activities.UpdateInforAccountActivity" />
        <activity android:name=".activities.AdminGetAllUserActivity" />
        <activity android:name=".activities.AdminAssignUserActivity" />
        <activity android:name=".activities.AdminGetAllDeviceActivity" />
        <activity android:name=".activities.AdminAssignDeviceActivity" />
        <activity android:name=".activities.ManagerManageDeviceDetailActivity" />
        <activity android:name=".activities.AdminCreateDeviceActivity" />
        <activity android:name=".activities.ManagerLocationDetailActivity" />
        <activity android:name=".activities.ManagerLocationActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />
        <activity
            android:name=".activities.ManagerChooseLocationActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.WorkerReportActivity" />
        <activity android:name=".activities.WorkerShiftViewActivity" />
        <activity android:name=".activities.HomeManagerActivity" />
        <activity android:name=".activities.WorkerShiftDetailActivity" />
        <activity android:name=".activities.ShiftTaskDetailActivity" />
        <activity android:name=".activities.ShiftDateFilterActivity" />
        <activity android:name=".activities.AdminAccidentManageActivity" />
        <activity android:name=".activities.ManagerManageProfileActivity" />
        <activity android:name=".activities.ManagerManageRoomActivity" />
        <activity android:name=".activities.ManagerManageDeviceActivity" />
        <activity android:name=".activities.ManagerManageWorkerActivity" />
        <activity android:name=".activities.AccidentReportDetailActivity" />
        <activity android:name=".activities.AdminWorkerDetailActivity" />
        <activity android:name=".activities.AdminAccidentDetailActivity" />
        <activity android:name=".activities.ManagerShiftViewActivity" />
        <activity android:name=".activities.ManagerCreateShiftActivity" />
        <activity android:name=".activities.AdminManagerDetailActivity" />
        <activity android:name=".activities.AdminLocationDetailActivity" />
        <activity android:name=".activities.AdminDeviceDetailActivity" />
        <activity android:name=".activities.AdminRoomDetailActivity" />
        <activity android:name=".activities.AdminCreateManagerActivity" />
        <activity android:name=".activities.AdminCreateLocationActivity" />
        <activity android:name=".activities.AdminCreateRoomActivity" />
        <activity android:name=".activities.ManageAccidentActivity" />
        <activity android:name=".activities.ManageRoomActivity" />
        <activity android:name=".activities.ManageWorkerActivity" />
        <activity android:name=".activities.ManageLocationActivity" />
        <activity android:name=".activities.ManageDeviceActivity" />
        <activity android:name=".activities.ProfileManageActivity" />
        <activity android:name=".activities.ManageManagerActivity" />
        <activity android:name=".activities.HomeWorkerActivity" />
        <activity
            android:name=".activities.HomeAdminActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>