<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dwdwproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_worker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_worker"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".activities.AdminCreateManagerActivity"></activity>
        <activity android:name=".activities.AdminCreateLocationActivity" />
        <activity android:name=".activities.AdminCreateRoomActivity" />
        <activity android:name=".activities.AdminCreateDeviceActivity" />
        <activity android:name=".activities.ManageAccidentActivity" />
        <activity android:name=".activities.ManageRoomActivity" />
        <activity android:name=".activities.ManageWorkerActivity" />
        <activity android:name=".activities.ManageLocationActivity" />
        <activity android:name=".activities.ManageDeviceActivity" />
        <activity android:name=".activities.ProfileManageActivity" />
        <activity android:name=".activities.ManageManagerActivity" />
        <activity android:name=".activities.HomeWorkerActivity" />
        <activity
            android:name=".activities.HomeAdminActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>